{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    {% for project in projects %}

    <div class="row featurette">
      <div class="col-md-7">
          <h2 class="featurette-heading" >{{ project.title }}<span class="text-muted">{{ project.subtitle }}</span></h2>
        <p class="lead">{{ project.description }}</p>
          <p class="lead">Click <a href="{{ project.link }}">here</a> to learn more!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>{{ project.title }} Image </title><image href ="{{ project.imgsrc }}" width="100%" height="100%"/></svg>
      </div>
    </div>

    <hr class="featurette-divider">
    {% endfor %}
</div>
{% endblock %}